@model CourseViewModel

<h2>Dersler</h2>
<input type="hidden" value="@Model.CourseId" name="CourseId"/>
<a asp-action="DersEkle" asp-route-courseId="@Model.CourseId" class="btn btn-primary mb-3">Yeni Ders Ekle</a>

@if (Model.Lectures.Any())
{
    <ul class="list-group">
        @foreach (var lesson in Model.Lectures)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @lesson.Name
                <span>
                    <a href="@Url.Action("DersDuzenle","Dashboard",new{LectureID = lesson.Id})" class="btn btn-sm btn-warning">Düzenle</a>
                    <a asp-action="DersSil" asp-route-id="@lesson.Id" class="btn btn-sm btn-danger">Sil</a>
                </span>
            </li>
        }
    </ul>
}
else
{
    <p class="text-muted">Henüz ders eklenmemiş.</p>
}